nav{
    background-color: darkblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: darkblue;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    
}

p{
    padding: 0;
}

main{
    max-width: 700px;
}

aside{
    width: 500px;
    margin: 10px;
    border: 3px solid rgb(0, 0, 0 / 0.2);
    padding: 1rem;
    background-color: #dbdadace;
    color: #3f3e3e;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 2rem;
    border-top: 1px dotted rgb(22, 22, 22);
    text-align: center;
}